
.main_with_nav__table{
    display: flex;
    justify-content: center;
    }
    
    
    tr, th, .record-table td{
    border: 3px white solid;
    }
    
    th, td, tr{
        padding: 3px;
        text-align: center;
    font-size: 25px;
    background-color: #444d;
    padding: 10px;
font-family: Arial, Helvetica, sans-serif;
    }

    tr:hover{
font-weight: 900;
color:skyblue;
}